# Introduction to statistics with `R`

This is your first practice notebook in this course. The purpose of this notebook is to apply the commands and knowledge aquired through the lab and videos. Some exercises might introduce new commands and packages to you. The notebook will be incomplete for you start writing the code to modify/produce output.

We will be working with wine dataset. It has 6 independent variables and one dependent variable, price.

Look in the code samples for
```R
<what goes in here>
    or
<replace ... >
```
This is where you should be modifying the code before running it.

## Read in the Data

In [3]:
wine_data <- read.csv('../../../datasets/wine price/wine.csv')
head(wine_data)

  Year Price  WinterRain AGST    HarvestRain Age FrancePop
1 1952 7.4950 600        17.1167 160         31  43183.57
2 1953 8.0393 690        16.7333  80         30  43495.03
3 1955 7.6858 502        17.1500 130         28  44217.86
4 1957 6.9845 420        16.1333 110         26  45152.25
5 1958 6.7772 582        16.4167 187         25  45653.81
6 1959 8.0757 485        17.4833 187         24  46128.64

Now that the data is read in, how would you remove the `Id` column from the dataframe in `R`. Remember, `R` is very flexible so there are several ways to remove columns. Do the following:

**Activity 1**: Find the dimensions (the number of rows and columns) of the data frame. *Hint: You will have to look up the function to do this as it was not mentioned in the lab*.

In [5]:
# Code for Activity 1 goes here -----------------------
dim(wine_data)

[1] 25  7

Below is one of the ways that you can subset a data frame based on a condition. Run the code below to see what it returns.

In [6]:
head(wine_data[wine_data$Year > 1970,])

   Year Price  WinterRain AGST    HarvestRain Age FrancePop
18 1971 7.1934 551        16.7667 112         12  52431.65
19 1972 6.2049 536        14.9833 158         11  52894.18
20 1973 6.6367 376        17.0667 123         10  53332.81
21 1974 6.2941 574        16.3000 184          9  53689.61
22 1975 7.2920 572        16.9500 171          8  53955.04
23 1976 7.1211 418        17.6500 247          7  54159.05

In [11]:
unique(wine_data$Year)

 [1] 1952 1953 1955 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
[16] 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978

**Activity 2**: Subset the wine_data into two dataframes based on the year. Named these dataframes group1 and group2 where group 1 contains data for years less than or equal to 1960 and group2 contains data with year greater than 1960.

In [13]:
#2 Code for Activity 2 goes here -----------------------
group1 = subset(wine_data[wine_data$Year<=1960])
group2 = subset(wine_data[wine_data$Year>1960,])
head(group1)
head(group2)

  Year Price  WinterRain AGST    HarvestRain Age FrancePop
1 1952 7.4950 600        17.1167 160         31  43183.57
2 1953 8.0393 690        16.7333  80         30  43495.03
3 1955 7.6858 502        17.1500 130         28  44217.86
4 1957 6.9845 420        16.1333 110         26  45152.25
5 1958 6.7772 582        16.4167 187         25  45653.81
6 1959 8.0757 485        17.4833 187         24  46128.64

   Year Price  WinterRain AGST    HarvestRain Age FrancePop
8  1961 8.4937 830        17.3333  38         22  47128.00
9  1962 7.3880 697        16.3000  52         21  48088.67
10 1963 6.7127 608        15.7167 155         20  48798.99
11 1964 7.3094 402        17.2667  96         19  49356.94
12 1965 6.2518 602        15.3667 267         18  49801.82
13 1966 7.7443 819        16.5333  86         17  50254.97

**Activity 3**: Run summary command and identify each variable if its qualitative or quantitative(continous or discrete).

In [14]:
# Code for Activity 3 goes here -----------------------
summary(wine_data[wine_data$])

      Year          Price         WinterRain         AGST        HarvestRain
 Min.   :1952   Min.   :6.205   Min.   :376.0   Min.   :14.98   Min.   : 38.0
 1st Qu.:1960   1st Qu.:6.519   1st Qu.:536.0   1st Qu.:16.20   1st Qu.: 89.0
 Median :1966   Median :7.121   Median :600.0   Median :16.53   Median :130.0
 Mean   :1966   Mean   :7.067   Mean   :605.3   Mean   :16.51   Mean   :148.6
 3rd Qu.:1972   3rd Qu.:7.495   3rd Qu.:697.0   3rd Qu.:17.07   3rd Qu.:187.0
 Max.   :1978   Max.   :8.494   Max.   :830.0   Max.   :17.65   Max.   :292.0
      Age         FrancePop
 Min.   : 5.0   Min.   :43184
 1st Qu.:11.0   1st Qu.:46584
 Median :17.0   Median :50255
 Mean   :17.2   Mean   :49694
 3rd Qu.:23.0   3rd Qu.:52894
 Max.   :31.0   Max.   :54602

````

    **Answer for Activity 3 goes here 
    
The columns are all continuous or quantitative variables.

````

**Activity 4**: *Find out the number of rows where the `Price` is greater than 7.

In [15]:
# Code for Activity 4 goes here -----------------------
nrow(wine_data[wine_data$price>7])

[1] 25

Let's say we want to know average Age of the wine. 

**Activity 5**: Apply mean() function on the Age variable

In [16]:
# Code for Activity 5 goes here -----------------------
mean(wine_data$Age)

[1] 17.2

We want to know the year which has recorded highest price for the wine.

**Activity 6**: Find the maximum price that is recorded in wine dataset and year for the corresponding row. You will have to look up the command. Hint: try which().

In [23]:
#' Code for Activity 6 goes here -----------------------
wine_data$Year[which.max(wine_data$Price)]

[1] 1961

** Activity 7**: Identify the datatype of each variable in dataframe. You were introduced to this command in Intro to Data Science course or you can look up for this command.

In [24]:
# Code for Activity 7 goes here -----------------------
sapply(wine_data,class)

       Year       Price  WinterRain        AGST HarvestRain         Age
  "integer"   "numeric"   "integer"   "numeric"   "integer"   "integer"
  FrancePop
  "numeric"

**Activity 8**: Check the structure of the dataframe. You have to look up for this command. This command will give you the dimensions of dataframe, type of each variable and intial first 10 values of the variable. Its a very useful command to get a quick overview of dataframe.

In [25]:
# Code for Activity 8 goes here -----------------------
str(wine_data)

'data.frame':	25 obs. of  7 variables:
 $ Year       : int  1952 1953 1955 1957 1958 1959 1960 1961 1962 1963 ...
 $ Price      : num  7.5 8.04 7.69 6.98 6.78 ...
 $ WinterRain : int  600 690 502 420 582 485 763 830 697 608 ...
 $ AGST       : num  17.1 16.7 17.1 16.1 16.4 ...
 $ HarvestRain: int  160 80 130 110 187 187 290 38 52 155 ...
 $ Age        : int  31 30 28 26 25 24 23 22 21 20 ...
 $ FrancePop  : num  43184 43495 44218 45152 45654 ...

Lets see how WinterRain variable data is distributed 

**Activity 9**: Plot the distribution of WinterRain variable using a histogram with bin sise of 20. PLot a density curve on top of the histogram.

In [1]:
# Code for Activity 9 goes here -----------------------

library(ggplot2)
plot = ggplot(data=wine, aes(x=WinterRain)) + 
  geom_histogram(aes(y =20), 
                 breaks=seq(360, 850,<what goes in here>), 
                 col="green", 
                 fill="orange", 
                 alpha = .5) + 
  geom_density(col=2) + 
  
  labs(title="Histogram for Winter Rain") +
  labs(x="Amount of Rain", y="Count")
plot

ERROR: Error in parse(text = x, srcfile = src): <text>:4:30: unexpected '<'
3: library(ggplot2)
4: plot = ggplot(data=wine, aes(<
                                ^

**Activity 10: ** Draw vertical lines for mean and median of WinterRain in avove plot. You can use the same `plot` object to draw the lines.

In [ ]:
# Code for Activity 10 goes here -----------------------
mean_WinterRain <- mean(wine$WinterRain)
median_WinterRain = median(wine$WinterRain)

plot + geom_vline(<what goes in here>,<replace with color attribute for line>)+
       geom_vline(<what goes in here>,<replace with color attribute for line>)

Is the WinterRain data skewed.

**Activity 11: ** Find the skewness of WinterRain variable.

In [ ]:
# Code for Activity 11 goes here -----------------------
library(moments)
skewness(<what goes in here>)

# Save your notebook!